<link rel='stylesheet' href='/css/home.css'>
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>URL Shortener</title>
</head>
<body>
    <form action='/shortenUrl' method="post">
        <input type='url' name='fullUrl' placeholder="paste your url here..." required>
        <button type="submit">Shorten the URL</button>
    </form>

    <ul>
        <% links.forEach(link => {  %>
            <li>
                <p><a href='<%= link.fullUrl %>'> <%= link.fullUrl %> </a></p>
                <p><a href='<%= link.shortUrl %>'> <%= link.shortUrl %> </a></p>
                <p><a href='<%= link.clicks %>'></a> Clicks: <%= link.clicks %> </p>
            </li>
        <% }) %>
    </ul>

</body>
</html>